{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore",
          "*.db"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/vyatichi.mastervision.su",
      "timeout": 10000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "date": "2020-08-08T17:56:56.069Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "date": "2020-08-08T17:56:57.221Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1597054570828.5498,
          "date": "2020-08-10T10:16:26.681Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1597053486898.9321,
          "date": "2020-08-10T10:16:27.033Z"
        },
        {
          "file": "fonts/GilroyRegular.eot",
          "mtimeMs": 1596888356000,
          "date": "2020-08-08T17:57:01.580Z"
        },
        {
          "file": "fonts/GilroyRegular.svg",
          "mtimeMs": 1596888354000,
          "date": "2020-08-08T17:57:07.232Z"
        },
        {
          "file": "fonts/GilroyRegular.ttf",
          "mtimeMs": 1596888354000,
          "date": "2020-08-08T17:57:08.702Z"
        },
        {
          "file": "fonts/GilroyRegular.woff",
          "mtimeMs": 1596888354000,
          "date": "2020-08-08T17:57:09.776Z"
        },
        {
          "file": "fonts/GilroyRegular.woff2",
          "mtimeMs": 1596888356000,
          "date": "2020-08-08T17:57:10.727Z"
        },
        {
          "file": "fonts/MontserratBlack.eot",
          "mtimeMs": 1596888382000,
          "date": "2020-08-08T17:57:14.306Z"
        },
        {
          "file": "fonts/MontserratBlack.svg",
          "mtimeMs": 1596888382000,
          "date": "2020-08-08T17:57:30.363Z"
        },
        {
          "file": "fonts/MontserratBlack.ttf",
          "mtimeMs": 1596888382000,
          "date": "2020-08-08T17:57:32.656Z"
        },
        {
          "file": "fonts/MontserratBlack.woff",
          "mtimeMs": 1596888382000,
          "date": "2020-08-08T17:57:34.615Z"
        },
        {
          "file": "fonts/MontserratBlack.woff2",
          "mtimeMs": 1596888384000,
          "date": "2020-08-08T17:57:36.133Z"
        },
        {
          "file": "fonts/MontserratBold.eot",
          "mtimeMs": 1596888396000,
          "date": "2020-08-08T17:57:39.495Z"
        },
        {
          "file": "fonts/MontserratBold.svg",
          "mtimeMs": 1596888396000,
          "date": "2020-08-08T17:57:55.862Z"
        },
        {
          "file": "fonts/MontserratBold.ttf",
          "mtimeMs": 1596888396000,
          "date": "2020-08-08T17:57:59.467Z"
        },
        {
          "file": "fonts/MontserratBold.woff",
          "mtimeMs": 1596888396000,
          "date": "2020-08-08T17:58:01.215Z"
        },
        {
          "file": "fonts/MontserratBold.woff2",
          "mtimeMs": 1596888398000,
          "date": "2020-08-08T17:58:03.264Z"
        },
        {
          "file": "fonts/MontserratRegular.eot",
          "mtimeMs": 1596888410000,
          "date": "2020-08-08T17:58:07.573Z"
        },
        {
          "file": "fonts/MontserratRegular.svg",
          "mtimeMs": 1596888410000,
          "date": "2020-08-08T17:58:23.057Z"
        },
        {
          "file": "fonts/MontserratRegular.ttf",
          "mtimeMs": 1596888410000,
          "date": "2020-08-08T17:58:26.115Z"
        },
        {
          "file": "fonts/MontserratRegular.woff",
          "mtimeMs": 1596888410000,
          "date": "2020-08-08T17:58:27.643Z"
        },
        {
          "file": "fonts/MontserratRegular.woff2",
          "mtimeMs": 1596888412000,
          "date": "2020-08-08T17:58:29.230Z"
        },
        {
          "file": "img/backs/for.png",
          "mtimeMs": 1596909144331.5232,
          "date": "2020-08-08T17:58:30.075Z"
        },
        {
          "file": "img/backs/main-bg.png",
          "mtimeMs": 1596909149852.4016,
          "date": "2020-08-08T17:58:32.201Z"
        },
        {
          "file": "img/icons/soc-buttons.png",
          "mtimeMs": 1596909159270.4575,
          "date": "2020-08-08T17:58:35.495Z"
        },
        {
          "file": "img/images/granik-main.png",
          "mtimeMs": 1596909171541.3987,
          "date": "2020-08-08T17:58:38.946Z"
        },
        {
          "file": "img/images/granik.png",
          "mtimeMs": 1596909178018.0005,
          "date": "2020-08-08T17:58:40.392Z"
        },
        {
          "file": "img/images/grigoryevskaya-main.png",
          "mtimeMs": 1596909180499.3123,
          "date": "2020-08-08T17:58:41.351Z"
        },
        {
          "file": "img/images/grigoryevskaya.png",
          "mtimeMs": 1596909184211.7373,
          "date": "2020-08-08T17:58:43.433Z"
        },
        {
          "file": "img/images/isakov-main.png",
          "mtimeMs": 1596909187566.2214,
          "date": "2020-08-08T17:58:44.298Z"
        },
        {
          "file": "img/images/isakov.png",
          "mtimeMs": 1596909191083.2483,
          "date": "2020-08-08T17:58:46.289Z"
        },
        {
          "file": "img/images/janna-main.png",
          "mtimeMs": 1596909193829.211,
          "date": "2020-08-08T17:58:47.178Z"
        },
        {
          "file": "img/images/janna.png",
          "mtimeMs": 1596909197157.3289,
          "date": "2020-08-08T17:58:49.149Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1596909199379.058,
          "date": "2020-08-08T17:58:49.935Z"
        },
        {
          "file": "img/images/rojkova-main.png",
          "mtimeMs": 1596909205723.3174,
          "date": "2020-08-08T17:58:52.293Z"
        },
        {
          "file": "img/images/rojkova.png",
          "mtimeMs": 1596909208952.944,
          "date": "2020-08-08T17:58:54.732Z"
        },
        {
          "file": "img/images/roleva-main.png",
          "mtimeMs": 1596909211799.2288,
          "date": "2020-08-08T17:58:56.053Z"
        },
        {
          "file": "img/images/roleva.png",
          "mtimeMs": 1596909215418.615,
          "date": "2020-08-08T17:58:57.912Z"
        },
        {
          "file": "img/images/romanets-main.png",
          "mtimeMs": 1596909216841.193,
          "date": "2020-08-08T17:58:58.818Z"
        },
        {
          "file": "img/images/romanets.png",
          "mtimeMs": 1596909221033.3691,
          "date": "2020-08-08T17:59:01.054Z"
        },
        {
          "file": "img/images/skutskaya.png",
          "mtimeMs": 1596909226078.7876,
          "date": "2020-08-08T17:59:03.916Z"
        },
        {
          "file": "img/images/vechernina.png",
          "mtimeMs": 1596909232908.3728,
          "date": "2020-08-08T17:59:08.054Z"
        },
        {
          "file": "img/images/yurina-main.png",
          "mtimeMs": 1596909235660.931,
          "date": "2020-08-08T17:59:08.904Z"
        },
        {
          "file": "img/images/yurina.png",
          "mtimeMs": 1596909240035.7388,
          "date": "2020-08-08T17:59:10.738Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1597053847286.8716,
          "date": "2020-08-10T10:16:27.825Z"
        },
        {
          "file": "img/icons/day-1.png",
          "mtimeMs": 1597052229378.4614,
          "date": "2020-08-10T09:37:29.357Z"
        },
        {
          "file": "img/icons/day-2.png",
          "mtimeMs": 1597052231802.714,
          "date": "2020-08-10T09:37:29.677Z"
        },
        {
          "file": "img/icons/day-3.png",
          "mtimeMs": 1597052234277.4277,
          "date": "2020-08-10T09:37:30.069Z"
        },
        {
          "file": "img/images/alex.png",
          "mtimeMs": 1597052180496.1096,
          "date": "2020-08-10T09:37:31.891Z"
        },
        {
          "file": "img/images/for-1.png",
          "mtimeMs": 1597052186295.092,
          "date": "2020-08-10T09:37:32.339Z"
        },
        {
          "file": "img/images/for-2.png",
          "mtimeMs": 1597052189202.6416,
          "date": "2020-08-10T09:37:32.723Z"
        },
        {
          "file": "img/images/skutskaya-main.png",
          "mtimeMs": 1597052205010.2395,
          "date": "2020-08-10T09:37:33.861Z"
        },
        {
          "file": "img/images/target.png",
          "mtimeMs": 1597052209295.3457,
          "date": "2020-08-10T09:37:34.270Z"
        },
        {
          "file": "img/images/vechernina-main.png",
          "mtimeMs": 1596884078764.8616,
          "date": "2020-08-10T09:37:35.043Z"
        },
        {
          "file": "img/images/lets.png",
          "mtimeMs": 1597052556978.3484,
          "date": "2020-08-10T10:16:27.416Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "img/backs/for.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 40487,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main-bg.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 139350,
          "optimized": true
        }
      },
      {
        "file": "img/icons/day-1.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 14314,
          "optimized": true
        }
      },
      {
        "file": "img/icons/day-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 9322,
          "optimized": true
        }
      },
      {
        "file": "img/icons/day-3.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 12306,
          "optimized": true
        }
      },
      {
        "file": "img/icons/plan-1.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 44406,
          "optimized": true
        }
      },
      {
        "file": "img/icons/plan-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 25544,
          "optimized": true
        }
      },
      {
        "file": "img/icons/plan-3.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 32359,
          "optimized": true
        }
      },
      {
        "file": "img/icons/soc-buttons.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 2614,
          "optimized": true
        }
      },
      {
        "file": "img/images/about.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 278303,
          "optimized": true
        }
      },
      {
        "file": "img/images/alex.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 159881,
          "optimized": true
        }
      },
      {
        "file": "img/images/for-1.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 75164,
          "optimized": true
        }
      },
      {
        "file": "img/images/for-2.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 60938,
          "optimized": true
        }
      },
      {
        "file": "img/images/for-img.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 192442,
          "optimized": true
        }
      },
      {
        "file": "img/images/granik-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 46433,
          "optimized": true
        }
      },
      {
        "file": "img/images/granik.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 406826,
          "optimized": true
        }
      },
      {
        "file": "img/images/grigoryevskaya-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 50679,
          "optimized": true
        }
      },
      {
        "file": "img/images/grigoryevskaya.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 468390,
          "optimized": true
        }
      },
      {
        "file": "img/images/isakov-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 38778,
          "optimized": true
        }
      },
      {
        "file": "img/images/isakov.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 404963,
          "optimized": true
        }
      },
      {
        "file": "img/images/janna-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 50475,
          "optimized": true
        }
      },
      {
        "file": "img/images/janna.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 398101,
          "optimized": true
        }
      },
      {
        "file": "img/images/lets.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 210914,
          "optimized": true
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 5633,
          "optimized": true
        }
      },
      {
        "file": "img/images/main-img.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 244199,
          "optimized": true
        }
      },
      {
        "file": "img/images/rojkova-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 45695,
          "optimized": true
        }
      },
      {
        "file": "img/images/rojkova.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 464647,
          "optimized": true
        }
      },
      {
        "file": "img/images/roleva-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 45728,
          "optimized": true
        }
      },
      {
        "file": "img/images/roleva.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 486955,
          "optimized": true
        }
      },
      {
        "file": "img/images/romanets-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 48057,
          "optimized": true
        }
      },
      {
        "file": "img/images/romanets.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 405023,
          "optimized": true
        }
      },
      {
        "file": "img/images/skutskaya-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 59520,
          "optimized": true
        }
      },
      {
        "file": "img/images/skutskaya.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 481157,
          "optimized": true
        }
      },
      {
        "file": "img/images/target.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 68414,
          "optimized": true
        }
      },
      {
        "file": "img/images/vecherina-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 56152
        }
      },
      {
        "file": "img/images/vechernina-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 56152
        }
      },
      {
        "file": "img/images/vechernina.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 537665,
          "optimized": true
        }
      },
      {
        "file": "img/images/yurina-main.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 41522,
          "optimized": true
        }
      },
      {
        "file": "img/images/yurina.png",
        "config": {
          "preserveOriginal": false,
          "originalSize": 435839,
          "optimized": true
        }
      }
    ]
  }
}
