header
	a(href="https://mastervision.su", target="_blank")
		img.header-logo(src=path+"img/images/logo.png", alt="Логотип")
	.contacts
		//- a.contact.contact-tel(href="callto:8-929-568-87-50" target="_blank")
		//- 	i.fa.fa-phone(aria-hidden="true")
		//- 	span 8-929-568-87-50
		a.contact.contact-tel(href="callto:8-499-346-79-46" target="_blank") 8-499-346-79-46
		a.contact.contact-skype(href="https://join.skype.com/invite/gkwrZmJPOtuf" target="_blank") support-mastervision
		a.contact.contact-email(href="mailto:info@mastervision.su" target="_blank") info@mastervision.su