footer
	.container
		if footer_title
			h5 Хотите узнать больше? Вступайте в наши группы!
			.soc-buttons
				a(href="https://www.facebook.com/Mastervision1C/" target="_blank").soc-button-fb
				a(href="https://vk.com/mv_akademia" target="_blank").soc-button-vk
				a(href="https://twitter.com/MastervisionEzo" target="_blank").soc-button-tw
				a(href="https://www.instagram.com/mastervision1/" target="_blank").soc-button-insta
				a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank").soc-button-yt
				.clfix
		p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
		if oferta
			a.conditions(href=oferta download) Условия возврата денежных средств