@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'

@import 'base/2-base'

@import 'base/3-header'
@import 'main/1-main'
@import 'main/2-about'
@import 'main/3-for'
@import 'main/4-plan'
@import 'main/5-lets'
@import 'main/6-coaches'
@import 'main/7-last'
@import 'base/4-footer'
@import 'main/8-medias'