@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'

@import 'base/2-base'

@import 'base/3-header'
@import 'base/1-main'
@import 'base/2-about'
@import 'base/3-for'
@import 'base/4-plan'
@import 'base/5-lets'
@import 'base/6-coaches'
@import 'base/7-last'
@import 'base/4-footer'
@import 'base/8-medias'