-var path = '';
-var head_url = 'https://vyatichi.mastervision.su/';
-var head_title = '«Мастерская Master Vision»';
-var head_description = 'Прокачаем твои навыки успешного человека за 5 дней';
-var head_img = 'img/banner.jpg';
-var styles = path+'css/styles.min.css';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var scripts = path+'js/scripts.min.js';
//- -var action = '';
//- -var group = '';
//- -var formId = '';
//- -var formVc = '';
-var footer_title = true
-var oferta = 'https://mastervision.su/oferta.docx'
//- https://shop.mastervision.su/?r=ordering/cart/as1&id=5254&clean=true&lg=ru
-var href = "#plan"

mixin gt(cl,h3)
	h3.general-title(class=cl)=h3
mixin b(cl,href,p,blank,id)
	.button-wrapper(class=cl)
		a.button(href=href target=target id=id)=p

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/main/1-main
		include pug/main/2-about
		include pug/main/3-for
		include pug/main/4-plan
		include pug/main/5-lets
		include pug/main/6-coaches
		include pug/main/7-record
		include pug/main/8-last
		include pug/base/2-footer
		include pug/base/3-scripts
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts