@media screen and (min-width 2295px)
	body
		font-size: 18px
	.container
		width 1400px
	.for-item
		height 286px
	.about-img img
		right 150px
		bottom: -140px
	.lets-img
	.lets-img img
		width auto
	.let-item-6
		margin-top: -130px
		max-width 360px
	.coach-info
		max-width 890px
		padding 30px 30px 30px 260px
	.coaches-img-2
		bottom: 430px
	.coach-links-wrapper
		width 280px
@media screen and (max-width 1199px)
	.main-img img
		right -12px
	.main-speaker
		width 166px
		padding 130px 4px 0
	.for-item
		height 262px
	.day
		height 300px
	.day-img-1
		top -120px
		right -120px
	.about-img img
		right 50px
		bottom: -159px
	.lets-img
		width 100%
		left 0
		top 150px
	.about-info
		bottom: -100px
	.let-item-2,.let-item-3, .let-item-5,.let-item-4
		left 0
	.coach-img
		width 300px
		img
			width 100%
	.coaches-img-2
		bottom: 580px
@media screen and (max-width 991px)
	header
		margin-bottom: 30px
	.main-info
		position: relative
		top 0
		left 0
		margin 0 0 50px 20px
	.main-img
		padding: 0
		width 100%
		img
			display block
			margin: 50px auto  0
			width 100%
			max-width 588px
			position: static
	.main-flytext
		top auto
		bottom: -90px
		left 0
	.main-speakers-row
		padding-top: 0
	.main-speaker
		margin-top: 70px
	.general-text-for:first-child
		margin-top: 30px
	.for-item
		height 214px
		margin-bottom: 30px
	.for-img-2
		margin-top: 30px
	.about-wrapper
		position relative
		bottom: auto
		top 0
		margin-top: 60px
	.about-img
		padding-bottom:  0
		img
			position: static
			display block
			margin 0 auto 30px
	.about-info
		bottom: 35px
		left 0
		right 0
		margin 0 auto
	#plan
		padding 40px 0 60px
	#lets
	#coaches
	#last
		padding 60px 0
	.let-item
		text-align center
		max-width 360px
		margin 0 auto 30px
		&:before
			top 5px
			right 5px
			left auto
			width 30px
			height 30px
			line-height: 30px
	.lets-img
		display none
	.coaches-img-1
		left -200px
		bottom: -100px
	.coach-img
		position relative
		left 0
		right auto
		margin 0 auto
	.coach
		padding 30px 30px 30px 250px;
		margin-left: 45px
		background-color #fff
		box-shadow: 0px 0px 15.66px 2.34px rgba(45,45,47,0.11)
	.coach-info
		padding 0
		margin 0
		box-shadow: none
		max-width none
		min-height 1px
		top 0
		margin-top: 30px
	#records
		padding 100px 0 40px
	.coaches-img-2
		bottom: 940px
	.video-wrapper-rev
		margin-bottom: 30px
@media screen and (max-width 767px)
	#main
		text-align center
	header
		padding 10px 0
		margin-bottom: 15px
	.header-logo
		float: none
		display block
		margin 0 auto 5px
	.contacts
		float: none
		text-align center
		line-height: 1
	.contact
		display inline-block
		line-height: 1.2
	.main-title
		font-size: 50px
	.button-main
		margin 0 auto
	.main-flytext
		font-size: 100px
	.general-text
		text-align center
	.button-for
		margin 40px auto 0
	.cost
		margin-bottom: 20px
	.coach-links-wrapper
		width 215px
	.coach-img
		width 100%
		max-width 300px
	.coach-links
		padding 20px
	.coach-links li
		margin-bottom: 15px
	.coach
		padding 20px 20px 20px 190px
	#last
		padding 45px 0
	.last-title
		font-size: 32px
	.last-text
		font-size: 22px
		margin 20px 0 30px
@media screen and (max-width 560px)
	.header-logo
		width 70px
	.contact
		font-size: 12px
	.main-title
		font-size: 36px
	.main-subtitle
		margin 30px 0
	.main-flytext
		font-size: 80px
	.general-title
	.about-title
		font-size: 26px
		margin-bottom: 25px
		line-height: 1.2
	.general-text-for:first-child
		margin-top: 10px
	#for
		padding 60px 0 20px
	.cost
		font-size: 24px
		span
			font-size: 55px
	.about
		padding 20px
	#coaches, #last, #lets
		padding 40px 0
	.coach-links-wrapper
		position: static
		width 100%
	.coach-links
		text-align center
		li
			display inline-block
			margin 0 5px 15px
	.coach
		margin 0
		padding 20px
	.coach-info-title
		margin-bottom: 15px
	.let-item
		padding 30px
	.last-text
		font-size: 18px
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 18px
	.soc-buttons a
		margin 10px 5px
	.coaches-img-2
		bottom: 640px
@media screen and (max-width 385px)
	.contact
		display block
		margin 0
	.main-title
		font-size: 28px
	.main-subtitle
		margin 10px 0 20px
	.main-flytext
		font-size: 56px
	.main-speaker
	.main-speaker:first-child
	.main-speaker:last-child
		width 180px
		margin 70px auto 0
	.about-title, .general-title
		font-size: 22px
	.day-img-1
		top -150px
		right -150px
	.day
		height auto
		min-height 356px
	.cost span
		font-size: 40px
	.about-img img
		width 100%
		max-width 258px
	.about-info
		padding 10px 25px
	.about-info p
		font-size: 12px
	.about-list li
		font-size: 14px
	.coaches-img-1
		display none
	.last-title
		font-size: 28px
	.coaches-img-2
		bottom: 440px
	#records
		padding-top: 40px
	#coaches
		padding-bottom: 20px