G = 'GilroyRegular', sans-serif;
M = 'MontserratRegular', sans-serif
Md = 'MontserratBold', sans-serif
Mk = 'MontserratBlack', sans-serif

@font-face
	font-family: 'GilroyRegular';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local url('fonts/GilroyRegular.eot');
	src: url('fonts/GilroyRegular.eot');
	src: url('fonts/GilroyRegular.eot') format('embedded-opentype'),url('fonts/GilroyRegular.woff2') format('woff2'),url('fonts/GilroyRegular.woff') format('woff'),url('fonts/GilroyRegular.ttf') format('truetype'),url('fonts/GilroyRegular.svg#GilroyRegular') format('svg');
@font-face
	font-family: 'MontserratRegular';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local url('fonts/MontserratRegular.eot');
	src: url('fonts/MontserratRegular.eot');
	src: url('fonts/MontserratRegular.eot') format('embedded-opentype'),url('fonts/MontserratRegular.woff2') format('woff2'),url('fonts/MontserratRegular.woff') format('woff'),url('fonts/MontserratRegular.ttf') format('truetype'),url('fonts/MontserratRegular.svg#MontserratRegular') format('svg');
@font-face
	font-family: 'MontserratBold';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: local url('fonts/MontserratBold.eot');
	src: url('fonts/MontserratBold.eot');
	src: url('fonts/MontserratBold.eot') format('embedded-opentype'),url('fonts/MontserratBold.woff2') format('woff2'),url('fonts/MontserratBold.woff') format('woff'),url('fonts/MontserratBold.ttf') format('truetype'),url('fonts/MontserratBold.svg#MontserratBold') format('svg');
@font-face
	font-family: 'MontserratBlack';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: local url('fonts/MontserratBlack.eot');
	src: url('fonts/MontserratBlack.eot');
	src: url('fonts/MontserratBlack.eot') format('embedded-opentype'),url('fonts/MontserratBlack.woff2') format('woff2'),url('fonts/MontserratBlack.woff') format('woff'),url('fonts/MontserratBlack.ttf') format('truetype'),url('fonts/MontserratBlack.svg#MontserratBlack') format('svg');