mixin f(cl,p)
	.col-lg-3.col-md-6
		.for-item(class=cl)
			p.for-item-text=p

section#for
	.container
		.row
			.col-md-6
				img.for-img.for-img-1(src=path+"img/images/for-1.png", alt="Картинка блока")
			.col-md-6
				p.general-text.general-text-for Проведение фестиваля Академии Master Vision в подмосковном санатории «Вятичи» уже стало для нас доброй традицией!
				p.general-text.general-text-for Несмотря на все преимущества онлайн-обучения, живое общение с тренерами и между студентами проходит на особом энергетическом уровне. А когда в одном месте собирается сразу большое количество людей, увлекающихся самопознанием и саморазвитием, то это поистине незабываемое событие
				p.general-text.general-text-for Не упустите шанс провести целую неделю в атмосфере эмоционального подъёма, энергетического баланса и трансформационных волн!
		+gt('general-title-for','Этот трансформационный ретрит для тех, кто желает:')
		.row
			+f('for-item-1','Развить умение работать в команде, вместе принимать решения и находить ответы на вопросы')
			+f('for-item-2','Научиться жить вне плоскости, нестандартно смотреть на вещи, мыслить креативно и предлагать то самое идеальное решение, когда оно так необходимо')
			+f('for-item-3','Получить мощную поддержку в решении любых жизненных вопросов. Принять себя и объективно осознать свои слабые стороны')
			+f('for-item-4','Увидеть себя с новых ракурсов, лучше узнать себя, раскрыть свой потенциал и определить/подтвердить вектор своего жизненного пути')
		.row
			+f('for-item-5','Испытать своё доверие, проверить его лимит, а также узнать, что такое - истинное доверие')
			+f('for-item-6','Прокачать уровень своей психологической гибкости, проработать свои внутренние блоки, а также получить личный опыт на практических занятиях')
			+f('for-item-7','Найти общие точки соприкосновения своих чувств, синхронизировать их друг с другом и окружающим пространством')
			+f('for-item-8','Осознать эффективность  самосовершенствования, а также успешно продолжить путь личностного роста. Получить ответ на сакральный вопрос о миссии своей души')
		.row
			.col-md-6
				p.general-text.general-text-for Отстаивать и защищать своё мнение и личные границы без конфликтов, а также научиться тактично коммуницировать, ощущая себя в этом процессе более открытым и при этом защищённым.
				p.general-text.general-text-for Наладить энергетический диалог с собой, окружающим пространством и людьми таким образом, чтобы они отвечали вам взаимностью и с радостью помогали воплощать все ваши мечты в реальность.
				+b('button-for',href,'Мне это необходимо')
			.col-md-6
				img(src=path+"img/images/for-2.png", alt="Этот трансформационный ретрит для тех, кто желает").for-img.for-img-2