mixin l(cl,p)
	.let-item(class=cl)
		p.let-item-text=p

section#lets
	.container
		+gt('','Данный ретрит позволит вам:')
		.row
			.col-md-4
				+l('let-item-1','Активировать собственные скрытые ресурсы, чтобы выстроить свою жизнь так, как нужно именно вам. Испытать на себе силу группового исцеления системно-родового поля')
				+l('let-item-2','Узнать своё предназначение и определиться с направлением жизненного пути, рассчитать точки роста и развития. Понять, как раскрыть свой потенциал в финансовой сфере и сфере отношений')
			.col-md-4
				.lets-img
					img(src=path+"img/images/lets.png", alt="Данный ретрит позволит вам")
			.col-md-4
				+l('let-item-3','Прокачать навыки запоминания и свой интеллект')
				+l('let-item-4','Узнать, какие продукты питания помогают не впадать в депрессию и какие вообще лучше исключить в период реализации себя и своей мечты')
				+l('let-item-5','Получить базовые знания по методу "Матрица судьбы и предназначения человека", которые позволят проводить экспресс-консультации по основным точкам жизни и судьбы человека')
		.row
			.col-md-4.col-md-offset-4
				+l('let-item-6','Научиться взаимодействовать и чувствовать себя в контакте с партнёром через совместное творчество')
		+b('',href,'Записаться')