section#records
	.container
		+gt('','Запись мастер-класса от 11.08.20')
		.video-wrapper.video-wrapper-records
			iframe(src="https://player.vimeo.com/video/" allowfullscreen)
		p.records-text Занятие состоится 11.08.20, в 19:00(мск)
		p.records-text Запись занятия появтся здесь 12.08.20, после 13:00(мск)